@import "tailwindcss";
@import "tailwindcss/utilities" important;

:root {
  --background: #fafafa;
  --foreground: #171717;
  --primary: #ff3718;
  --success: #2ab514;
}

html,
body {
  width: 100%;
  height: 100%;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
  --background: #171717;
  --foreground: #fafafa;
  --primary: #ff3718;
  --success: #2ab514;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #ff3718;
  --color-success: #2ab514;
  --font-sans: var(--font-jakarta-sans);
  --font-mono: var(--font-raleway);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  max-width: 1200px !important;
}
